.formParent {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
}

.inputContainer {
  background-color: white;
  border-radius: 0rem 1rem 1rem 0rem;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  position: relative;
  padding: 0 3rem; 
}

.inputContainer .input {
  margin-top: 5rem;
  width: 100%;
}

.buttons {
  margin: 1.5rem 0 5rem 0;
}

.inputField {
  margin: 0.2rem 0 0.9rem 0;
  width: 100%;
  padding: 12px 94px 12px 15px;
  box-sizing: border-box;
  font-size: 14px;
  transition: background-color border padding 0.2s ease-in-out;
  border: 2px solid #ccc;
  border-radius: 0.4rem;
  outline: none;
  background-color: var(--color-tertiary);
}
.inputField:focus {
  background-color: white;
  border: 2px solid var(--color-primary);
  padding: 13px 21px 13px 16px;
}

.activeForm,
.deActiveForm {
  position: fixed;
  width: 722px;
  border-radius: 1rem;
  display: flex;
  top: 10%;
  bottom: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  transition: visibility 0.1s ease-out;
}

.activeForm {
  visibility: visible;
}

.deActiveForm {
  visibility: hidden;
}

.imageContainer {
  width: 50%;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem 0 0 1rem;   
}

.imageContainer img {
  width: 100%;
}

.cancel {
  background-color: var(--color-tertiary);
  border-radius: 0.5rem;
  border: none;
  color: black;
  padding: 1rem;
  font-size: 1rem;
  margin-right: 0.6rem;
  width: 100px;
}

.cancel:hover {
  cursor: pointer;
  background-color: #e1ebec;
}

.addUser {
  width: 100px;
  background-color: var(--color-primary);
  color: #f1f1f1;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  margin-left: 0.9rem;
  transition: background-color 0.2s ease-in-out;
}

.addUser:hover {
  background-color: var(--color-primary-glow);
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .imageContainer,
  .inputContainer {
    width: 100%;
  }

  .inputContainer {
    border-radius: 1rem 1rem;
    align-items: end;
    padding: 0 6rem;
  }

  .inputContainer div {
    margin-top: 0.4rem;
  }

  .imageContainer {
    border-radius: 1rem 1rem 0 0rem;
  }
  .imageContainer img {
    width: 86%;
  }
  
  .activeForm,
  .deActiveForm {
    width: 456px;
    top: 1%;
    flex-direction: column;
  }
}

@media (max-width: 575.98px) {
  .activeForm,
  .deActiveForm {   
    top: 10%;
  }

  .inputContainer {
    padding: 0 3rem;
  }
  .inputContainer .input {
    margin-top: 2rem;
    width: 100%;
  }

  .buttons {
    margin: 1.5rem 0 2rem 0;
    display: flex;
  }
  .activeForm,
  .deActiveForm {
    width: 360px;     
  }
  .inputContainer{
    padding: 0 3rem;
  }
}
