:root {
  --color-primary: #319fa9;
  --color-primary-glow: #00b3c3;
  --color-red: #f53f3fed;
  --color-red-glow: #ff0000ed;
  --color-grey : #8996b1;
  --color-tertiary : #e9f5f7;
  --color-member-badge:teal;
  --color-admin-badge:rgba(193, 16, 16, 0.773);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  margin: 0 0 1rem 0;
}

.app.active {
  filter: blur(20px);
}

button {
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .app {
    font-size: 11px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .app {
    margin: 0rem 10rem 1rem 10rem;
  }
}
